body {
    background-color: black;
}



.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 50px;
}

.spin {
    display: inline-block;
    animation: spin 20s linear infinite;
}

@keyframes spin {
    from {
        transform: rotatey(0deg);

    }
    to {
        transform: rotatey(360deg);

    }
}